:root {
  --color-primary: blue;
  --color-grey: grey;
  --color-white: white;
  --color-black: black;
  --color-bg: white;
  --color-text-color: black;

  --padding-1: 4px;
  --padding-2: 6px;
  --padding-3: 8px;
  --padding-4: 12px;
  --padding-5: 16px;
  --padding-5: 20px;

  --margin-1: 4px;
  --margin-2: 6px;
  --margin-3: 8px;
  --margin-4: 12px;
  --margin-5: 16px;
  --margin-5: 20px;

  --border-radius: 6px;
}
