@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700,900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css');

/* ELEMENTS */

button,
input[type='submit'],
input[type='button'] {
  display: inline-block;
  border: solid 1px var(--color-primary);
  color: var(--color-primary);
  padding: var(--padding-3) var(--padding-5);
  border-radius: 6px;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  background-color: transparent;
  margin: var(--margin-4);
}

button:hover {
  background-color: rgba(var(--color-primary), 0.1);
}

button:active {
  background-color: rgba(var(--color-primary), 0.5);
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: var(--color-grey);
  border-color: var(--color-grey);
  color: var(--color-white);
}

button[primary],
input[type='submit'][primary],
input[type='button'][primary] {
  background-color: var(--color-primary);
  color: var(--color-white);
}

input {
  border: none;
  border-bottom: solid 1px var(--color-grey);
  border-radius: 0;
  display: block;
  padding: var(--padding-3) 0;
}

input:focus {
  outline: none;
  border-bottom-color: var(--color-primary);
}

input + label {
  position: absolute;
  left: 0;
  opacity: 0.5;
  top: 50%;
  transform: translateY(-50%);
  transition: all 250ms;
}

input:focus + label,
input:valid + label {
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateY(-1em);
}

fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: var(--padding-5);
}

input[type='checkbox'] {
  opacity: 0;
}

input[type='checkbox'] + label {
  position: relative;
  display: inline-block;
  line-height: 24px;
  padding-left: 28px;
  cursor: pointer;
}

input[type='checkbox'] + label::before,
input[type='checkbox'] + label::after {
  position: absolute;
  content: '';
  display: inline-block;
  transition: all 250ms ease;
}

input[type='checkbox'] + label::before {
  height: 22px;
  width: 22px;
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius);
  left: 0;
  top: 0;
}

input[type='checkbox']:checked + label::before {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

input[type='checkbox']:disabled + label {
  opacity: 0.5;
}

input[type='checkbox'] + label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-left-color: var(--color-white);
  border-bottom-color: var(--color-white);
  transform: rotate(-45deg);
  left: 7px;
  top: 8px;
}

input[type='checkbox'] + label::after {
  content: none;
}

input[type='checkbox']:checked + label::after {
  content: '';
}

input[type='checkbox']:focus + label::before {
  outline: none;
}

a {
  text-decoration: none;
}

nav {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--padding-3);
  background-color: var(--color-primary);
  color: var(--color-white);
  position: relative;
}

section a {
  color: var(--color-white);
  margin-right: var(--padding-5);
}

nav section {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  position: absolute;
  width: 100%;
}

footer {
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--padding-3);
  background-color: var(--color-primary);
  color: var(--color-white);
  position: relative;
}

footer section {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}
